<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sofosofi.identsystemwechat.mapper.SysUserAccountMapper">
  <resultMap id="BaseResultMap" type="com.sofosofi.identsystemwechat.entity.SysUserAccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_account_id" jdbcType="BIGINT" property="userAccountId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>